html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #a39e9b }
html[data-theme="light"] .highlight { background: #e7e9db; color: #2f1e2e }
html[data-theme="light"] .highlight .c { color: #8d8687 } /* Comment */
html[data-theme="light"] .highlight .err { color: #ef6155 } /* Error */
html[data-theme="light"] .highlight .k { color: #815ba4 } /* Keyword */
html[data-theme="light"] .highlight .l { color: #f99b15 } /* Literal */
html[data-theme="light"] .highlight .n { color: #2f1e2e } /* Name */
html[data-theme="light"] .highlight .o { color: #5bc4bf } /* Operator */
html[data-theme="light"] .highlight .p { color: #2f1e2e } /* Punctuation */
html[data-theme="light"] .highlight .ch { color: #8d8687 } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #8d8687 } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #8d8687 } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #8d8687 } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #8d8687 } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #8d8687 } /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #ef6155 } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { font-style: italic } /* Generic.Emph */
html[data-theme="light"] .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
html[data-theme="light"] .highlight .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #48b685 } /* Generic.Inserted */
html[data-theme="light"] .highlight .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
html[data-theme="light"] .highlight .kc { color: #815ba4 } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #815ba4 } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #5bc4bf } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #815ba4 } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #815ba4 } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #fec418 } /* Keyword.Type */
html[data-theme="light"] .highlight .ld { color: #48b685 } /* Literal.Date */
html[data-theme="light"] .highlight .m { color: #f99b15 } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #48b685 } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #06b6ef } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #2f1e2e } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #fec418 } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #ef6155 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #5bc4bf } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #2f1e2e } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #ef6155 } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #06b6ef } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #2f1e2e } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #fec418 } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #06b6ef } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #2f1e2e } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #5bc4bf } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #ef6155 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #5bc4bf } /* Operator.Word */
html[data-theme="light"] .highlight .pm { color: #2f1e2e } /* Punctuation.Marker */
html[data-theme="light"] .highlight .w { color: #2f1e2e } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #f99b15 } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #f99b15 } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #f99b15 } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #f99b15 } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #f99b15 } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #48b685 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #48b685 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #2f1e2e } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #48b685 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #8d8687 } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #48b685 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #f99b15 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #48b685 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #f99b15 } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #48b685 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #48b685 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #48b685 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #48b685 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #06b6ef } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #ef6155 } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #ef6155 } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #ef6155 } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #ef6155 } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #f99b15 } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #4f424c }
html[data-theme="dark"] .highlight { background: #2f1e2e; color: #e7e9db }
html[data-theme="dark"] .highlight .c { color: #776e71 } /* Comment */
html[data-theme="dark"] .highlight .err { color: #ef6155 } /* Error */
html[data-theme="dark"] .highlight .k { color: #815ba4 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #f99b15 } /* Literal */
html[data-theme="dark"] .highlight .n { color: #e7e9db } /* Name */
html[data-theme="dark"] .highlight .o { color: #5bc4bf } /* Operator */
html[data-theme="dark"] .highlight .p { color: #e7e9db } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #776e71 } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #776e71 } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #776e71 } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #776e71 } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #776e71 } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #776e71 } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #ef6155 } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { font-style: italic } /* Generic.Emph */
html[data-theme="dark"] .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
html[data-theme="dark"] .highlight .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #48b685 } /* Generic.Inserted */
html[data-theme="dark"] .highlight .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
html[data-theme="dark"] .highlight .kc { color: #815ba4 } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #815ba4 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #5bc4bf } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #815ba4 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #815ba4 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #fec418 } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #48b685 } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #f99b15 } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #48b685 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #06b6ef } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #e7e9db } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #fec418 } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #ef6155 } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #5bc4bf } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #e7e9db } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #ef6155 } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #06b6ef } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #e7e9db } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #fec418 } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #06b6ef } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #e7e9db } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #5bc4bf } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #ef6155 } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #5bc4bf } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #e7e9db } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w { color: #e7e9db } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #f99b15 } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #f99b15 } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #f99b15 } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #f99b15 } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #f99b15 } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #48b685 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #48b685 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #e7e9db } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #48b685 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #776e71 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #48b685 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #f99b15 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #48b685 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #f99b15 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #48b685 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #48b685 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #48b685 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #48b685 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #06b6ef } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #ef6155 } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #ef6155 } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #ef6155 } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #ef6155 } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #f99b15 } /* Literal.Number.Integer.Long */